/* Estilo para el input de placa */
#placa {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--gris-borde);
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
}

/* Estilo para mensajes de error */
.error-message {
    color: #ff0000;
    font-size: 0.8em;
    display: none;
}

/* Estilo cuando hay error */
.input-error {
    border-color: #ff0000 !important;
}
